<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<img src="./assets/templates/events/img/2011-10-30.jpg"/>
<p>
    Парохія св. Арх. Михаїла стоїть на порозі столітнього ювілею.
    Її заснування було пов’язане із духовною потребою перших українських переселенців до Канади. Цю потребу побачив
    своїм пастирським оком і реалізував наш славниймитрополит і Слуга Божий Андрей Шептицький,відвідуючи Монреаль у 1910
    році. Столітня історія святомихайлівської парохії писана, як поодинокими долями її парохіян, так і життям та
    розвитком цілої українськоїFather Ihor громади нашого міста.На сторінках цієї історії можна зустріти такі імена як:
    Митрополит А. Шептицький, гетьманич Данило Скоропадський, о. Юліан Катрій ЧСВВ, о. Йосафат-Жан ЧСВВ, Патріарх Йосиф,
    блаженніший Любомир Гузар та інші.
</p>
<p>
    Цю історію писали своїми долями перші українські еміґранти та сім’ї інтернованих 1914-20 років. Її розширювала друга
    хвиля еміґрації на долю якої припали часи депресії та світової фінансової кризи. Історію церкви св. Михаїла
    збагатила і третя хвиля переселенців з України, котрих війна вигнала з родинних домів, погнавши їх на чужину через
    небезпеки, випробування і поневіряння. Пам’ятати, шанувати та гідно продовжувати цю історію мають святий обов’язок,
    як і ті, що належать до четвертої еміґраційної хвилі, так і ті, чиє коріння вросло у канадську землю довжиною
    чотирьох-п’яти поколінь. Готуючись до сотого ювілею ми запланували багато важливих подій. Це - встановлення і
    освячення меморіальної дошки; видання ювілейної книги; величава архиєрейська св. Літургія; святковий бенкет з
    мистецькою програмою та виставка фотографій і документів з історії нашої церкви. Ми запрошуємо усіх вас, Дорогі
    Друзі, до участі у цих святкуваннях, бо сила громади знаходиться у її членах. Святкуючи цей ювілей, ми ставимо перед
    собою мету: глибше пізнати своє коріння, відшукати свою ідентичність та віднайти те, що було утрачене, пожвавити
    свою духовність та передати усе це наступним поколінням. У нас вже є столітня історія, а отже, має бути і її
    продовження. Ми заохочуємо Вас прилучатись до цих святкувань. На вівтар матірньої парохії св. Арх. Михаїла можна
    скласти будь-яку пожертву: чи присвятити свій час волентерській праці в організації свята, чи вишукати і передати
    фотографії або документи, які представляють історичну цінність, чи надати фінансову підтримку, а чи помістити своє
    привітання у ювілейній книзі, чи взяти участь у бенкеті і св. Літургії, чи просто подавши свої пропозиції або
    зауваги. Все, щоб ви не зробили, буде прийняте, належно оцінене і винагороджене Господом Богом. Нехай ніхто не
    залишиться байдужим до цієї події. Зберімось разом у днях 29-30 жовтня 2011 року, щоб поділитись своїм життям,
    зустріти старих друзів та відновити втрачені зв’язки. Зберімось разом, щоб подякувати Богу за його провидіння, котре
    опікувалось всіма нами на протязі цих сто років. Зберімось разом, щоб попросити в Божественній Літургії Господньої
    опіки та благословення і на наступне сторіччя.
</p>
<p>
    о. Ігор Ощіпко
    Парох
</p>
</body>
</html>
