<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<img src="./assets/templates/events/img/2016-12-07.jpg"/>
<p>
    В цей радісний і святковий для нас день, дозвольте Вас усіх привітати — зі 100-нім ювілеєм закладення наріжного
    каменю, однієї з перших українських церков м. Монреаль. Наші перші поселенці 125 років тому не випадково вибрали за
    свого покровителя св. Михаїла, який являється не тільки архистратигом небесних сил, але і могутнім захисником для
    всього людства. Під проводом нашого могутнього заступника ми сміливо ідемо вперед, живучи і надіючись на нашого
    люблячого Господа. Нехай св. Михаїл кріпить всіх, допомагає у труднощах, благословляє на добре християнське життя і
    добрі справи, заведе нас до вічної батьківщини.
</p>
<p>
    о. Ярослав
    <br>
    адм. церкви св. Михаїла
</p>
<p>
    Ти, преславний арх. Михаїле, начальник перед Богом над безтілесними силами архангелів й ангелів, володарств,
    престолів і начал, постійно стоїш при величному Божому престолі. Тому захищай і покривай, зберігай та спасай усіх,
    що з вірою тебе вшановують як покровителя світу.
</p>
<p>
    Світильний Утрені
</p>
</body>
</html>
