<!DOCTYPE html>
<html lang="en">
<head>
    <title>COVID-19</title>
    <meta charset="UTF-8">
</head>
<body>
<img src="./assets/templates/events/img/covid19.jpg" alt="COVID-19"/>
<p>
    <b>COVID-19 - Анкета</b>
</p>
<p>
    Для того щоб Ви могли увійти до церкву неодхідно заповнити анкету. Одна анкета на сім'ю.
    Якщо Ви відповіли на якесь питання "NO" Вам краще залишатися дома та дивитись службу онлайн на facebook.
    Для тих у кого всі відповіді "YES" Необхідно вказати імена усіх присутніх на службі із сім'ї в розділі
    Household members attending today:
</p>
<p>
    Також просимо мати з собою маску та молитовник.
</p>
<p>
    Нижче Ви можете завантажити анкету у форматі Word або PDF роздрокувати та заповнити її дома щоб не тратити час на вході у храм.
    Для тих хто не має можливості роздрокувати анкета буде видана на вході.
</p>
<p>
    Велике прохання у кого не буде заповненої анкети із собою прийти заздалегідь! Мати з собою ручку чи олівець.
</p>
<p>
    <a href="./assets/templates/events/Household_Covid_19_form.docx" download>Анкета у форматі WORD</a>
</p>
<p>
    <a href="./assets/templates/events/Household_Covid_19_form.pdf" download>Анкета у форматі PDF</a>
</p>
<p>
    адм. церкви св. Михаїла
</p>
</body>
</html>
