html {
    margin: 0;
    font-size: 16px;
}

body {
    margin: 0;
    top: 0 !important;
}

.goog-te-banner-frame {
    visibility: hidden !important;
}

.si-wrapper-top{
    width: 30rem;
}
.si-content{
    max-width: 30rem !important;
}
.si-content-wrapper {
    padding: 1rem !important;
}
