:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    z-index: 1;
    //font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px grey solid;
    background-color: white;
}

.title {
    flex: auto;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem;
    font-size: 1.4rem;
}

.lang-link {
    text-align: center;
    margin: 0.3rem;
}

.main_link {
    text-decoration: underline;
    &:hover {
        cursor: pointer;
    }
}

//
//.title-link {
//    flex: 0 1 auto;
//    text-align: start;
//    margin: 7px;
//    padding: 10px;
//    font-size: 16px;
//    text-transform: uppercase;
//    font-weight: bold;
//    text-decoration: none;
//    white-space: nowrap;
//
//    &:visited, &:link {
//        color: black;
//        &.active {
//            color: black;
//        }
//    }
//}
//
//.lang-link {
//    flex: 1 1 auto;
//    text-align: start;
//    margin: 7px;
//    padding: 5px;
//}
//
//.media-menu {
//    margin: 5px;
//    padding: 10px;
//    border: 2px solid black;
//    font-size: 18px;
//    text-transform: uppercase;
//    font-weight: bold;
//
//    &:hover {
//        cursor: pointer;
//    }
//}
//
//.nav-menu {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    text-transform: uppercase;
//    font-size: 18px;
//
//    &.dd-menu {
//        position: fixed;
//        left: 0;
//        right: 0;
//        top: 50px;
//        height: auto;
//        width: auto;
//        flex-direction: column;
//        background-color: white;
//        a {
//            padding-top: 20px;
//            padding-bottom: 20px;
//            padding-right: 40px;
//            padding-left: 40px;
//        }
//    }
//
//    a {
//        padding-right: 10px;
//        padding-left: 10px;
//        font-weight: bold;
//        text-decoration: none;
//        white-space: nowrap;
//
//        &:visited, &:link {
//            color: black;
//            &.active {
//                color: darkgray;
//            }
//        }
//        &:hover {
//            color: #d3d3d3;
//            cursor: pointer;
//        }
//    }
//}
//
//.lang-flag {
//    margin-top: 15px;
//    margin-bottom: 15px;
//    margin-left: 5px;
//    margin-right: 5px;
//    &:hover {
//        cursor: pointer;
//    }
//    &.active {
//        margin-top: 12px;
//        margin-bottom: 12px;
//        border: 3px lightgrey solid;
//    }
//}
