<div class="title">
    <span class="main_link" (click)="this.navigateMainCommand()">{{this.stmichael}}</span>
    <div id="google_translate_element" class="lang-link"></div>
</div>

<!--<a class="title-link" routerLink="main" routerLinkActive="active">-->
<!--{{this.stmichael}}-->
<!--</a>-->

<!--<div class="media-menu md-show" (click)="this.toggleMenu(!this.isShowDDMenu)">{{this.menu}}</div>-->

<!--<nav class="nav-menu" [ngClass]="{'dd-menu': this.isShowDDMenu, 'md-hide': !this.isShowDDMenu}">-->
<!--<a routerLink="main" routerLinkActive="active" (click)="this.toggleMenu(false)">{{this.main}}</a>-->
<!--<a routerLink="calendar" routerLinkActive="active" (click)="this.toggleMenu(false)">{{this.calendar}}</a>-->
<!--<a routerLink="admin-events" routerLinkActive="active" (click)="this.toggleMenu(false)">{{this.admin-events}}</a>-->
<!--<a routerLink="history" routerLinkActive="active" (click)="this.toggleMenu(false)">{{this.history}}</a>-->
<!--<a routerLink="contact" routerLinkActive="active" (click)="this.toggleMenu(false)">{{this.contact}}</a>-->
<!--<div id="google_translate_element" class="lang-link"></div>-->
<!--</nav>-->
