<div class="main-top-img"></div>

<div class="sm-calendar-container">
    <div *ngFor="let date of this.calendar" class="sm-date-item">
        <b class="mmr-3">{{date.week}}</b> <b>{{date.date}}</b>
        <div *ngFor="let time_item of date.events" class="sm-time-item">
            <p><b>{{time_item.time}}:</b> {{time_item.text}}</p>
        </div>
    </div>

    
    
    
    
    <!--<span class="md-md-font"-->
    <!--style="display: flex; justify-content: space-between; padding-left: 20px; padding-right: 20px;">-->
    <!--<b>Ч.13-04-2018</b><b>01 квітня 2018</b>-->
    <!--</span>-->
    <!--<p class="md-md-font">-->
    <!--КВІТНА НЕДІЛЯ. ВХІД ГОСПОДНІЙ В ЄРУСАЛИМ.<br>-->
    <!--Гл. 1; Ап. Флп. 247 зач; 4,4-9. Єв.- Йо. 41 зач.; 12, 1-18.-->
    <!--</p>-->
    <!--<p class="md-md-font"><b>Розпорядок Богослужінь:</b></p>-->

    <!--<p class="md-md-font">-->
    <!--<b>Понеділок      02 квітня<br></b>-->
    <!--18:00  Вечірня-->
    <!--</p>-->
    <!--<p class="md-md-font">-->
    <!--<b>Вівторок        03 квітня<br></b>-->
    <!--09:00  Утреня-->
    <!--</p>-->
    <!--<p class="md-md-font">-->
    <!--<b>Середа            04 квітня<br></b>-->
    <!--18:00  Літургія Передосвячених дарів-->
    <!--</p>-->
    <!--<p class="md-md-font">-->
    <!--<b>ВЕЛИКИЙ ЧЕТВЕР      05 квітня<br></b>-->
    <!--09:00  Св. Літургія за упокій бл. п. Володимира Дикий.<br>-->
    <!--Замовляють дружина й діти.<br>-->
    <!--18:00   Утреня Страстей (12 євангелій).-->
    <!--</p>-->
    <!--<p class="md-md-font">-->
    <!--<b>ВЕЛИКА П’ЯТНИЦЯ  06 квітня<br></b>-->
    <!--18:00    Вечірня з винесенням Плащаниці.<br>-->
    <!--19:00    Єрусалимська Утреня.<br>-->
    <!--Молитва біля Божого гробу за християнські родини.-->
    <!--</p>-->
    <!--<p class="md-md-font">-->
    <!--<b>ВЕЛИКА СУБОТА       07 квітня<br></b>-->
    <!--<b>БЛАГОВІЩЕННЯ ПРЕЧИСТОЇ ДІВИ МАРІЇ<br></b>-->
    <!--10:00  Літургія св. Василія Великого<br>-->
    <!--18:00   Благословення пасок у парохіяльній залі-->
    <!--</p>-->
    <!--<p class="md-md-font">-->
    <!--<b>НЕДІЛЯ ПАСХИ           08 квітня          ВЕЛИКДЕНЬ<br></b>-->
    <!--08:30   Надгробне<br>-->
    <!--09:00   Воскресна Утреня<br>-->
    <!--10:00   Урочиста св. Літургія св. Івана Золотоустого.<br>-->
    <!--Благословення Артоса. Мирування.-->
    <!--</p>-->
    <!--<p>-->

    <!--</p>-->
</div>




<div class="header">

</div>

<div class="month-view">
  <div class="week-header">
    <ng-template ngFor let-day [ngForOf]="['Mn','Th','W','Tr','Fr','Sa','Su']">
      <b class="day-header">{{day}}</b>
    </ng-template>
  </div>

  <ng-template ngFor let-day [ngForOf]="[1,2,3,4,5]">
    <div class="week">

      <ng-template ngFor let-day [ngForOf]="[1,2,3,4,5,6,7]" let-isFirst="first">
        <div class="day" [ngClass]="{'bl':!isFirst}">
          <div class="num">
            12
          </div>
          <div class="hours">
            <div class="hour">
              18:00 - Vechirna
            </div>
            <div class="hour">
              18:00 - Sv. Liturgiy
            </div>
          </div>
        </div>
      </ng-template>

    </div>
  </ng-template>

</div>

