<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>
    У 1966р. парафія урочисто відсвяткувала 50-літній ювілей храму спеціальними імпрезами та виданням "Золотої" книги
    пам"яті. Slipiy
</p>
<p>
    З 1червня 1969р. адміністратором з правами пароха став колишній парафіянин о.д-р Ігор Мончак. Він найдовше управляв
    парафією, до осені 1990р. Він був добрим адміністратором і ощадним господарем. Під його керівництвом парафія
    сплатила борги і придбала 315тис.дол. готівки. Зусиллям о. д-ра Мончака треба завдячувати , що вдалось врятувати
    оселю "Україна", коли виявилось, що легальний бік її надбання не був завершений до кінця і постала загроза її
    втрати. Багато зусилль і коштів потребували направи даху і стін. Оновлювались лавки, вікна і двері, що теж
    потребувало видатків. Митець М. Денисенко помалював запрестольну стіну.
</p>
<p>
    Будучи професоромКатолицького університету у Римі, о. д-р Мончак на доручення патріарха Йосифа зорганізував у
    Монтреалі філію цього університету та у конференційній залі нашої парафії читав лекції на теми богословські та
    церковної історії. Його доповнював д-р. Юрій Левицький викладами на мовні теми.
</p>
</body>
</html>
