<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2>
    Парафія св. Архистратига Михаїла у Монтреалі, засновником якої справедливо вважати великого митрополита Андрея
    Шептицького, є матірною парафією всіх українських поселенців у цьому місті і його околицях, існує для спасення
    наших душ і на славу всемогутнього Бога.
</h2>

<p>
    Перші українські поселенці у Монтреалі були Іван і Степан Тюхтії, хоч вони довго тут і не затримались. На
    постійний побут поселився у 1902-му році 21-літній Йосиф Созанський і прожив тут все своєжиття, до 1970 р. Перші
    служби божі в українсько - віазантійському обряді відправили в церкві Обелятів перші отці Василіани: о.Созонт Дидик,
    о.Антін Строцький і о.Платонід Філяс. St. Michaels Вони були у місті проїздом на кілька днів від 23.10.1902р.
    Українці Монтреалю згуртувались у "Товариство Русинів Самопоміч" і у 1907-09рр. запрошували отців з Вінніпегу та
    інших околиць. 123
</p>
<p>
    З 1909р. у монтреальській Великій Семінарії вивчали богослов"я українські студенти. Тодішні суденти богослов"я
    Орест Кузів і Василь Ладика (пізніший єпископ) навчали катехізму українських дітей у дільниці Пойнт-Сен-Шарль, де
    згодом була заснована перша Українська школа повного дня у Монтреалі.
</p>
<p>
    Своїм приїздом до Монтреалю, з нагоди світового Євхаристійного Конгресу, львівський митрополит Кир Андрей
    Шептицький підготував грунт для заснування в цьому місті першої української парафії. На початку літа 1911року
    відбулися перші збори для заснування парафії. На других зборах був присутній перший парох о. д-р Кирило Єремій і
    було зібрано понад 500дол. на будівництво. По від"їзді о. д-ра Єремії в червні 1912р, парохами були: о. д-р
    Адоній Сабурен, о. Артур Демаре, заходами якого були закуплені 5 земельних ділянок на розі вулиць Ібервіль та
    Гошеляга під будову церкви, о. д-р Амбросій Радкевицч і о. д-р Иван Перепелиця, що у 1913р. на противагу
    радикалам заснував товариство "Просвіта" ім Т.Г.Шевченка у дільниці Пойнт-Сент-Чарлз.
</p>
</body>
</html>
