<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<img src="./assets/templates/img/1911.jpg"/>
<p>
    Будівництво розпочалось у 1916р. за о. д-ра Амбросія Радкевича.Це був важкий час першої світової війни.
    Шістьдесят українських родин було інтерновано до Спирит Лейк разом із малими дітьми, а 1500 чоловіків забрали як
    військово - полонених, оскільки вони були громадянами Австрії. У таких обставинах збудували тільки резиденцію та
    пивницю церкви. На Великдень у 1917р. відбулося урочисте відкриття церкви і відправлення першої служби божої у
    власному приміщенні.
</p>
<p>
    1925 прибули до Монтреалю сестри служебниці, які перебрали ведення школи,що була створена раніше в дільниці
    Пойнт-Сен-Шарль. 9Березня1925р. 14 парафіян потайки заснували "Братство Православної Церкви", що дало почин до
    створення української православної парафії св.Софії у Монтреалі.
</p>
<p>
    За о.Михайла Григорчука при допомозі о.Йосафата Жана парафія дістала у користування частину католицького
    цвинтаря Нотре-Дам- -де-Неж, де тепер хоронять українців-католиків з усіх парафій Монтреалю, і щорічно відбуваються
    Зелено - святочні процесії і поминки під проводом усього греко - католицького священства та за участю прицерковних
    та молодечих організацій. За о. М.Григорійчука парафія на позичені гроші побудувала в 1929-1930рр. дім із залею.
    Але з початком великої економічної кризи (депресії) потрапила у дуже скрутне економічне становище, маючи 35 000дол.
    заборгованості. Нависла загроза втрати церкви.
</p>
</body>
</html>
