<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="sm-history-template">
    <img src="./assets/templates/img/1935.jpg"/>
    <p>
        27 липня 1932р. почався Василіанський період в історії церкви. Щоб вийти із скрути церква перейшла під заряд
        оо.Василіан і дістала першого василіанського пароха о.Йосафата Тимочка, що був парохом тут до 1940р. Йому
        вдалося зменшити борг церкви на 14000дол. Було куплено за 6500 дол. 640а крів землі з озером і маленьким озерцем і
        кількома відпочинковими кабінами. Там за один рік великим зусиллям отців і ревній співпраці людей вибудували
        великий дім для дітей з їдальнею і кухнею і спальнями нагорі.У липні 1939 там відбувся перший вакаційний табір
        для дітей з парафії. Від урядів та різних французьких і англійських установ о.Тимочко дістав аж 10дол. допомоги.
        На протязі наступних шести років парафію по два роки очолювали о.Йосафат Жан (француз за походженням і великий
        прихильник українців), о.Павло Гевка і знову о.Тимочко. Всі вони багато зробили для зменшення церковного боргу і
        о.Тимочко сплативши решту боргу, почав збирання грошей на закінчення будівництва.
    </p>
    <p>
        У 1946 і 47 роках парохом був о.Севастіян Шевчук. Він багато опікувався молоддю, що прибувала на роботу у
        канадські родини: підшукував житло, відвідував їх,справляв для них Свят - вечерю, Свячене, тощо.
    </p>
    <p>
        У 1948р. знову повертається о. Тимочко. За рахунок нових емігрантів церква дуже зросла і на допомогу приїхали о.
        д-р Іриней Назарко і о. Мирон Дацюк. До 1952р. парафія збудувала нове велике приміщення на оселі "Україна"для
        дітей коштом 14800дол., зібрала 60000дол. на побудову "справжньої" церкви. І хоч все було підготовлене,
        оо.Василіанам не судилось перебудувати церкву.
    </p>
</div>
</body>
</html>
