<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<img src="./assets/templates/img/1990.jpg"/>
<p>
    Осінню 1990р. єпископ перевів о. д-р. Мончака до Отави. Парохом нашої церкви було назначено молодого нововисвяченого
    жонатого священника о. Ігоря Чировського. З 1 червня 1993р. провід парафії перебрав молодий жонатий священник,
    новоприбулий із України, о. Петро Двірник, якого в березні 1996р. призначено деканом Монтреальського деканату.
</p>

<p>
    <i>
        <b>
            Історичний текст 1902-1996 років подано за матеріалами підготовленими доктором Юрієм-Мирославом Левицьким.
        </b>
    </i>
</p>


</body>
</html>
